<%- include('partials/header') %>
  <section class="hero oblongix-hero">
    <div class="container">
      <h2>AI delivered Business Consulting</h2>
      <p>Next-gen business consulting using leading-edge AI technology with human expertise to achieve rapid business
        value.</p>
      <div class="cta-buttons">
        <button onclick="openSignupModal()">Register</button>
      </div>
    </div>
  </section>

  <section id="services" class="oblongix-tiles">
    <div class="container grid-3">
      <a href="/solutions?filter=AI" class="tile">
        <h3>AI Solutions</h3>
        <p>Apply advanced AI business Solutions immediately.</p>
      </a>
      <a href="/solutions?filter=AIHUMAN" class="tile">
        <h3>AI with Human Support</h3>
        <p>Leaver the power of AI to accelerate human performance, or provide expertise and oversight where AI can not.</p>
      </a>
      <a href="/solutions?filter=HUMANAI" class="tile">
        <h3>Human with AI tools</h3>
        <p>Many times human intervention and leadership is just needed. But done with AI is far more effective.</p>
      </a>
    </div>
  </section>

<%- include('partials/signup_modal') %>    
<%- include('partials/contact_modal') %>  
<%- include('partials/login_modal') %>  
<%- include('partials/profile_modal') %>  

<%- include('partials/footer') %>